@import "tailwindcss";

.ck-editor__editable h1 {
  font-size: 2em;
  font-weight: bold;
}
.ck-editor__editable h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.ck-editor__editable ul {
  list-style: disc;
  margin-left: 1.5rem;
}
.ck-editor__editable ol {
  list-style: decimal;
  margin-left: 1.5rem;
}
.ck-editor__editable table {
  border-collapse: collapse;
  width: 100%;
}
.ck-editor__editable table, .ck-editor__editable th, .ck-editor__editable td {
  border: 1px solid #ccc;
  padding: 6px;
}

